
VITE_FIREBASE_API_KEY="AIzaSyAry2eRBQjs-jm-yfYjZ_nlffPtMaCnJ5E",
VITE_FIREBASE_AUTH_DOMAIN="lista-enxoval-e0f3f.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="lista-enxoval-e0f3f",
VITE_FIREBASE_STORAGE_BUCKET="lista-enxoval-e0f3f.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="43063181589",
VITE_FIREBASE_APP_ID="1:43063181589:web:e7e2d8e4cd21ec0c10291c",